@mixin respond-to($breakpoint) {
    @if $breakpoint == mobile {
        @media screen and (max-width: 480px) {
            @content;
        }
        }
        @else if $breakpoint == tablet {
        @media screen and (max-width: 768px) {
            @content;
        }
        }
        @else if $breakpoint == desktop {
        @media screen and (min-width: 1024px) {
            @content;
        }
    }
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bubblegum Sans", sans-serif;
}

body {
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #feb47b;
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;

    .header1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 7.5px 20px;
        background-color: #ff7e5f;

        .social-links{
            a {
                color: black;
                svg {
                    font-size: 25px;
                    margin:0 2px;
                    cursor: pointer;
                }
            }
        }

        .contact-links {
            display: flex;
            gap: 20px;

            @include respond-to(mobile) {
                flex-direction: column;
                gap: 3px;
            }
            
            @include respond-to(tablet) {
            }
            
            @include respond-to(desktop) {
            }

            div {
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
    }

    .header2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;

        .logo {
            cursor: pointer;
        }

        nav {
            display: flex;
            align-items: center;
            gap: 5px;

            ul {
                display: flex;

                a {
                    list-style: none;
                    color: black;
                    text-decoration: none;
                    font-size: large;
                    padding: 7.5px 20px;
                    transition: 0.3s;

                    &:hover{
                        background-color: #ff7e5f;
                    }

                    @include respond-to(mobile) {
                        display: none;
                    }
                    
                    @include respond-to(tablet) {
                    }
                    
                    @include respond-to(desktop) {
                    }
                }

                .active {
                    background-color: #ff7e5f;
                }

                .has-submenu{
                    display: flex;
                    flex-direction: column;
                    position: relative;

                    ul {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        width: 170px;
                        top: 100%;
                        left: -3rem;
                        opacity: 0;
                        visibility: hidden;
                        transform: translateX(-1rem);
                        transition-property: opacity, visibility, transform;
                        transition-duration: var(--def-transition-duration );
                        transition-timing-function: ease-in-out;
                        transition: 0.3s;
                        
                        a {
                            cursor: pointer;
                            background-color: #feb47b;

                            &:hover {
                                background-color: #ff7e5f;
                            }
                        }
                    }

                    &:hover ul {
                        display: flex;
                        opacity: 1;
                        visibility: visible;
                        transform: translateX(0);
                        left: -1rem;
                    }
                    
                }
            }

            .user-login {
                display: flex;
                gap: 5px;

                button {
                    width: 100px;
                    padding: 5px;
                    background-color: #ff7e5f;
                    border: solid 1px;
                    border-radius: 6px;
                    cursor: pointer;
                    transition: 0.2s;

                    &:hover {
                        color: white;
                        background-color: black;
                    }
                }
                .login-btn {
                    background-color: transparent;
                }
            }
        }

        .burger {
            padding: 20px;
            display: none;

            @include respond-to(mobile) {
                display: flex;
                cursor: pointer;
            }
            
            @include respond-to(tablet) {
            }
            
            @include respond-to(desktop) {
            }

            svg {
                font-size: 25px;
            }
        }
    }
}

.home {
    .hero {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 50vh;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .carousel-slide {
        position: absolute;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        width: 100%;
        height: 100%;
    
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    .active {
        opacity: 1;
    }
}

// Safari

.safaris {
    padding: 20px;

    @include respond-to(mobile) {
        padding: 7.5px 10px;

    }

    h1 {
        margin-bottom: 10px;
    }

    .container {
        display: flex;
        gap: 10px;

        @include respond-to(mobile) {
            flex-direction: column;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            place-items: center;
            justify-content: center;

            @include respond-to(mobile) {
                width: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .info {
                color: white;
                background-color: black;
                bottom: 0;
                width: 100%;
                background-color: #feb47b;

                .wrapper2 {
                    padding: 10px;
                }
    
                .add-to-cart {
                    display: flex;
                    align-items: center;

                    h3 {
                        margin-top: 10px;
                    }
    
                    svg {
                        font-size: 30px;
                        cursor: pointer;
    
                        &:hover {
                            color: #ff7e5f;
                        }
                    }
                }
            }
        }

        .active {
            opacity: 1;
        }
    }
}

// contact

.contact {
    .container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;

        @include respond-to(mobile) {
            padding: 7.5px 10px;
        }
        
        @include respond-to(tablet) {
        }
        
        @include respond-to(desktop) {
        }

        form {
            display: flex;
            flex-direction: column;
            width: 400px;
            gap: 5px;

            @include respond-to(mobile) {
                width: 100%;
            }
            
            @include respond-to(tablet) {
            }
            
            @include respond-to(desktop) {
            }

            div {
                display: flex;
                gap: 5px;

                input {
                    width: 100%;
                }
            }

            input {
                padding: 10px;
                border-radius: 5px;
                border: solid black 1px;
            }

            textarea {
                padding: 10px;
                border-radius: 5px;
                border: solid black 1px;
            }

            .action {
                display: flex;
                align-items: center;

                input {
                    background-color: #feb47b;
                    cursor: pointer;
                    height: 100%;
                    padding: 5px;
                }

                button {
                    width: 100px;
                    cursor: pointer;
                    background-color: #ff7e5f;
                    border: solid 1px;
                    border-radius: 5px;
                    padding: 10px;

                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}

.newsletter {
    padding: 20px;
    background-color: #feb47b;

    @include respond-to(mobile) {
        padding: 20px 10px;
    }
    
    @include respond-to(tablet) {
    }
    
    @include respond-to(desktop) {
    }

    div {
        width: 50vw;

        @include respond-to(mobile) {
            width: 100%;
        }
        
        @include respond-to(tablet) {
        }
        
        @include respond-to(desktop) {
        }

        h4 {
            text-align: start;
            margin-bottom: 5px;
        }

        div {
            display: flex;
            gap: 3px;

            input {
                padding: 10px;
                border: solid 1px;
                border-radius: 5px 0 0 5px;
            }

            button {
                width: 100px;
                cursor: pointer;
                background-color: #ff7e5f;
                border: solid 1px;
                border-radius: 0  5px 5px 0;
                transition: 0.2s;

                &:hover {
                    color: white;
                    background-color: black;
                }
            }
        }

    }
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #ff7e5f;
    padding: 7.5px 20px;
    gap: 10px;

    @include respond-to(mobile) {
        padding: 7.5px 10px;
    }
    
    @include respond-to(tablet) {
    }
    
    @include respond-to(desktop) {
    }

    .footer1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
        @include respond-to(mobile) {
            grid-template-columns: 1fr;
            gap: 10px;
        }
        
        @include respond-to(tablet) {
        }
        
        @include respond-to(desktop) {
        }

        .discover {
            display: flex;
            flex-direction: column;
        }

        .quick-links {
            display: flex;
            flex-direction: column;
        }

        .contact {
            display: flex;
            flex-direction: column;

            div {
                display: flex;
                align-items: center;
                gap: 5px;

                span {
                    font-weight: bold;
                }
            }
        }

        a {
            color: black;
        }
    }

    .footer2 {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            text-align: center;
            font-size: small;
        }

        .social-links {
            a {
                color: black;
                
                svg {
                    font-size: 25px;
                    margin:0 2px;
                    cursor: pointer;
                }
            }
        }
    }
}

.not-found-page {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #feb47b;
    z-index: 1;

    div {
        display: flex;
        align-items: center;
        gap: 5px;

        h1 {
            background-color: #ff7e5f;
            padding: 20px;
        }
    }

    span {
        position: fixed;
        left: 20px;
        top: 20px;
    }
    
}