@mixin respond-to($breakpoint) {
    @if $breakpoint == mobile {
        @media screen and (max-width: 480px) {
            @content;
        }
        }
        @else if $breakpoint == tablet {
        @media screen and (max-width: 768px) {
            @content;
        }
        }
        @else if $breakpoint == desktop {
        @media screen and (min-width: 1024px) {
            @content;
        }
    }
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bubblegum Sans", sans-serif;
}

body {
    height: 100vh;
    
    header {
        display: flex;
        flex-direction: column;
        background-color: #feb47b;
        position: sticky;
        top: 0;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

        .header1 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 7.5px 20px;
            background-color: #ff7e5f;

            .social-links{
                a {
                    color: black;
                    svg {
                        font-size: 25px;
                        margin:0 2px;
                        cursor: pointer;
                    }
                }
            }

            .contact-links {
                display: flex;
                gap: 20px;

                @include respond-to(mobile) {
                    flex-direction: column;
                    gap: 3px;
                }
                
                @include respond-to(tablet) {
                }
                
                @include respond-to(desktop) {
                }

                div {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
            }
        }

        .header2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;

            .logo {
                cursor: pointer;
            }

            nav {
                ul {
                    display: flex;
    
                    a {
                        list-style: none;
                        color: black;
                        text-decoration: none;
                        font-size: large;
                        padding: 7.5px 20px;

                        &:hover{
                            background-color: #ff7e5f;
                        }

                        @include respond-to(mobile) {
                            display: none;
                        }
                        
                        @include respond-to(tablet) {
                        }
                        
                        @include respond-to(desktop) {
                        }
                    }

                    .active {
                        background-color: #ff7e5f;
                    }
                }
            }

            .burger {
                padding: 20px;
                display: none;

                @include respond-to(mobile) {
                    display: flex;
                    cursor: pointer;
                }
                
                @include respond-to(tablet) {
                }
                
                @include respond-to(desktop) {
                }

                svg {
                    font-size: 25px;
                }
            }
        }
    }

    .home {
        .hero {
            height: 50vh;
            background-image: url('https://idsb.tmgrup.com.tr/ly/uploads/images/2023/09/29/294329.jpg');
            background-color: black;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .not-found-page {
        position: fixed;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #feb47b;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    footer {
        background-color: #ff7e5f;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 7.5px 20px;
        gap: 7.5px;

        .social-links {
            a {
                color: black;
                
                svg {
                    font-size: 25px;
                    margin:0 2px;
                    cursor: pointer;
                }
            }
        }
    }
}